@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    justify-items: center;
    align-items: center;
}

.pin{
  transform: translate(-50%,-100%);
  stroke-width:1;

}
.add{
  stroke:rgb(255, 116, 116);
  fill: red;
}
.red{
  stroke:#f82702;
  fill: rgba(248, 39, 2,0.5);
}
.error{
  color:#f82702;
}
.popup{
  max-width:350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: default;
  padding: 5px;
}
.popup img{
  max-height: 250px;
  width: auto;
  text-align: center;
  margin: 0 auto;
  max-width: 250px;
  display: block ;
  align-self: center;
  object-fit: cover;
}

.popup p,h3{
  margin: 0;
}
hr{
  width: 100px;

}
.entry-form label, 
.entry-form input,
 .entry-form textarea, 
 .entry-form button {
  resize: none;
  padding: 3px;
  font-family: 'Noto Sans', sans-serif;
}  
.entry-form textarea{
  max-width: 100%;
}
  .entry-form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .entry-form button{
    margin-top: 15px;
    background: white;
    border: 1px solid black;
    border-radius: 8px;
  }
  .entry-form button:hover{
    background: rgb(68, 68, 68);
    border: 1px solid white;
    color: white;
    cursor: pointer;
  }
  .header{
    padding:5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .logo-wrapper{
    padding:5px 10px 0 0;
    color: white;
    opacity: 0.4;
  }
  .logo{
    line-height: 0px;
    margin:0;
    margin-bottom:2px
  }

  .matteo{
    font-size: 0.75rem;
  }
  /* INFO */

  .info_box {
    position: relative;
  }
  

  .fa{
    color: black;
    padding-left:2px;
  }
  .info_box .message {
    font-family: 'Noto Sans', sans-serif;
    line-height: 16px;
    position: absolute;
    width: 150px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    padding: 15px;
    font-size: 13px;
    display: none;
    transform: translateX(-200px);
    border-radius: 0 10px 10px 0;
    opacity: 0.8;
  }
  .info_box .fa:hover .message {
    animation: tooltip .2s ease-in-out forwards;
    display: block;
  }
        
  @keyframes tooltip {
    from{
    }to{
      transform: translateX(-7px);
    }
  }
.delete{
  border: none;
  color: red;
  border: 1px solid#f82702;
  border-radius: 8px;
  background: white;
  margin-top: 20px;
  width: 60px;
  height: 15px;
  font-size: 0.7em;
  cursor: pointer;
  padding: 0;
}
.mapboxgl-popup-close-button{
  color: #000;
  height: 25px;
  width: 25px;
  padding: 0;
}
a.mapboxgl-ctrl-logo{
  opacity: 0.5;
}
div.mapboxgl-ctrl{
  opacity: 0.5;
}
a.mapboxgl-ctrl-logo:hover{
  opacity: 1;
}
@media only screen and (max-width: 600px) {
  .popup img{
    max-height: 150px;

    max-width: 150px;

  }
  .popup{
    max-width: 300px;
  }
}