@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.pin{
  transform: translate(-50%,-100%);
}
.red{
  stroke:#61e7ff;
}
.yellow{
  stroke:#f8c102;
}
.error{
  color:#f82702;
}
.popup{
  max-width:40vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: default;
  padding: 5px;
}
.popup img{
  height: 200px;
  width: auto;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  display: block ;
  align-self: center;
  object-fit: cover;

}
hr{
  width: 100px;

}
.entry-form label, 
.entry-form input,
 .entry-form textarea, 
 .entry-form button {
  padding: 3px;
  font-family: 'Noto Sans', sans-serif;
}  
.entry-form textarea{
  width: 100%;
}
  .entry-form{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .entry-form button{
    margin-top: 15px;
  }
.delete{
  border: none;
  color: red;
  border: 1px solid#f82702;
  border-radius: 8px;
  background: white;
  margin-top: 10px;
  width: 60px;
  height: 15px;
  font-size: 0.7em;
  cursor: pointer;
  padding: 0;
}
.mapboxgl-popup-close-button{
  color: #000;
  height: 25px;
  width: 25px;
  padding: 0;
}
@media only screen and (max-width: 600px) {

  /* .mapboxgl-popup-content{
    width: 190px;
    min-height:320px;
} */
}